/tinker/.idea
/MVVM/.idea
/ManualSignature/.idea
/DevelopUtils/.idea
/AccessControlTV/.idea
/hc-meta-app/.idea
/hc-meta-app/build
/hc-meta-app/hariservice/src/main/jniLibs/armeabi/libjingle_peerconnection_so.so
/DevelopUtils/tvscreeninfo/*.iml
